.bg-bid {
  background: rgb(246, 70, 93);
}
.text-price-bid {
  color: rgb(207, 48, 74);
}
.text-amount-bid {
  color: rgb(71, 77, 87);
}

.bg-ask {
  background: rgb(14, 203, 129);
}

.text-price-ask {
  color: rgb(3, 166, 109);
}
.text-amount-ask {
  color: rgb(71, 77, 87);
}